<!DOCTYPE html>

<html>

<head>


</head>

<body>

<h1>{{title}}</h1>
<p>Created by {{name}}</p>

<div>

<form>
<input placeholder="Location">
<button>Search</button>
</form>

</div>

</br>
</br>
</br>
<!---------------working for office work -->
<div>
<label for="Env">Choose a Component</label>
<select id="envs">
  <option value="Select"></option>
  <option value="Object Manager">Object Manager</option>
  <option value="EAI Object Manager">EAI Object Manager</option>
  <option value="Workflow Process Manager">Workflow Process Manager</option>
  <option value="Workflow Process Batch Manager">Workflow Process Batch Manager</option>
</select>
<button id="4">Go</button>
</div>



<!---------------working for office work -->
<p id='message-1'>Loading....</p>

<p id='message-2'></p>

<script src="utlis.js"></script>
</body>

</html>